.Header {
    align-self: center;
    background-color: $clr4;
    color: red;
    height: rem(50px);
    .logo,
    a {
        color: white;
        text-decoration: none;
        display: inline-block;
    }
    .logo {
        line-height: rem(50px);
        margin-left: rem(10px);
    }
    .NavBar {
        .nav-link {
            font-size: rem(14px);
            padding: 0 10px;
            display: inline-block;
            line-height: rem(48px);
        }
        .nav-link:hover {
            border-bottom: 2px solid $clr6;
            color: $clr2;
        }
        a:hover {
            color: $clr4;
        }
    }
}