.Header {
    .logo,
    a {
        color: white;
        text-decoration: none;
    }
    align-self: center;
    background-color: rgb(0, 132, 255);
    color: red;
    height: rem(50px);
    .logo {
        line-height: rem(50px);
        margin-left: rem(10px);
    }
    .NavBar {
        .nav-link {
            font-size: rem(14px);
            padding: 0 10px;
            display: inline-block;
            line-height: rem(48px);
            // margin: 0 rem(10px);
        }
        .nav-link:hover {
            border-bottom: 2px solid rgb(224, 0, 0);
        }
    }
}