// COLOR PALETTE
$clr1: #484a47;
$clr3: #5c6d70;
$clr2: #a37774;
$clr4: #e88873;
$clr5: #e0ac9d;
//helper colors - shadows,borders,text.
$clr6: #c33149;
$clr7: #a8c256;
$clr8: #f3d9b1;
$clr9: #c29979;
$clr10: #a22522;
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;